# Ignore everything
**

# Exclude folders relevant for build
!.git
!.dockerignore
!cmd/
!hack/
!pkg/
!scripts/
!vendor/
!.golangci.yaml
!go.mod
!go.sum
!Makefile
!VERSION
!TF_VERSION
!terraform-bundle.hcl
